@model AlcaldiaAraucaPortalWeb.Models.CarouselModelViewList;

@{
    ViewData["Title"] = "Inicio";
}

<body>
    <section>
        <div class="container-sm">
            <div class="text-center">
                <div class="col-md-12">
                    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            @{ var cont = 0;}
                            @foreach (var item in Model.carousels)
                            {
                                if (cont == 0)
                                {
                                    <div class="carousel-item active" data-interval="3000">
                                        <img src="~/Image/@item.ImageName" class="img-fluid" width="996" height="400" alt="Iamgen 1">
                                    </div>
                                }
                                else
                                {

                                    <div class="carousel-item" data-interval="2000">
                                        <img src="~/Image/@item.ImageName" class="img-fluid" width="996" height="400" alt="Iamgen 1">
                                    </div>
                                }
                                cont = 1;
                            }

                            @*<div class="carousel-item active" data-interval="5000">
                                    <img src="~/Image/Imagen01.png" class="img-fluid" width="996" height="400" alt="Iamgen 1">
                                </div>
                                <div class="carousel-item" data-interval="2000">
                                    <img src="~/Image/Imagen02.jpeg" class="img-fluid" width="996" height="400" alt="Imagen 2">
                                </div>*@
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </div>
                <hr />
                <div class="row d-flex justify-content-center text-center g-2">
                    @foreach (var item in Model.contents)
                    {
                        <div class="card" style="width:20em;margin:10px;">
                            <a asp-controller="Home" asp-action="Menu" asp-route-id="@item.url" class="btn btn-sm btn-primary">
                                <img src="@Url.Content( @item.img)" class="card-img-top g-2" />
                            </a>
                            <div class="card-body">
                                <div class="card-title">
                                    <h2>@item.title</h2>
                                </div>
                                <div class="card-text">
                                    <p>@item.text</p>
                                </div>
                                <a asp-controller="Home" asp-action="Menu" asp-route-id="@item.url" class="btn btn-sm btn-primary">Más...</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <footer>
        <h4 style="color:white;">Avisos legales</h4>
        <a href="#" style="color:white">Política de cookies</a>
    </footer>
</body>
