@model List<AlcaldiaAraucaPortalWeb.Models.ContentModelView>;


@{
    ViewData["Title"] = "Index";
}

<body>
    <section>
        <div class="container-sm">
            <div class="text-center">
                <img src="@Url.Content(@ViewBag.Image)" class="img-fluid" alt="Responsive image" width="996" height="400">
            </div>
        </div>
        <p>@ViewBag.SubMensaje</p>
        <hr />
        <div class="row d-flex justify-content-center text-center g-0">
            @foreach (var item in Model)
            {
                <div class="card" style="width:20em;margin:10px;">
                    @if (item.url != "81")
                    {
                        <a asp-controller="Home" asp-action="MenuConfirmed" asp-route-id="@item.url" class="btn btn-sm btn-primary">
                            <img src="@Url.Content(item.img)" class="card-img-top" />
                        </a>
                    }
                    else
                    {
                        <a href="#victorModal" role="button" data-toggle="modal" class="btn btn-sm btn-primary">
                            <img src="@Url.Content(item.img)" class="card-img-top" />
                        </a>

                    }

                    <div class="card-body">
                        <div class="card-title">
                            <h2>@item.title</h2>
                        </div>
                        <div class="card-text">
                            <p>@item.text</p>
                        </div>
                        @if (item.url != "81")
                        {
                            <a asp-controller="Home" asp-action="MenuConfirmed" asp-route-id="@item.url" class="btn btn-sm btn-primary">Más...</a>
                        }
                        else
                        {
                            <a href="#victorModal" role="button" data-toggle="modal" class="btn btn-sm btn-primary">
                                Más...
                            </a>

                        }
                    </div>
                </div>
            }
        </div>
    </section>
    <footer>
        <h4 style="color:white;">Avisos legales</h4>
        <a href="#" style="color:white;">Política de cookies</a>
    </footer>
</body>
<!-- Modal -->
<div id="victorModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensajes del sistemas</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">

                <p class="text-warning"><small>Mensaje del sistema de información</small></p>
                <hr />
                <p>Ciudadano/a tenga en cuenta que la información a registrar en el siguiente formulario se encuentra protegida bajo la Ley del Habeas data -Ley 1581 de 2012, Decreto1377 de 2013- si quiere conocer más sobre esta ley de click:</p>
            </div>
            <div class="modal-footer">
                <a href="https://www.arauca-arauca.gov.co/Ciudadanos/Paginas/PQRD-Identificacion.aspx" class="mr-auto" target="_blank">PQRD con identificación</a>
                <a href="https://www.arauca-arauca.gov.co/Ciudadanos/Paginas/PQRD-Anonima.aspx" target="_blank">PQRD anónima</a>

            </div>
        </div>
    </div>
</div>