@model AlcaldiaAraucaPortalWeb.Data.Entities.Cont.Content

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Realmente desea eliminar esto?</h3>
<div>
    <h4>Content</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContentTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContentTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContentText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContentText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContentUrlImg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContentUrlImg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PqrsStrategicLineSectorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PqrsStrategicLineSector.PqrsStrategicLineSectorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State.StateName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ContentId" />
        <input type="submit" value="Eliminar" class="btn btn-danger btn-sm" /> |
        <a asp-action="Index" class="btn btn-sm btn-success">Retornar</a>
    </form>
</div>
