@model IEnumerable<AlcaldiaAraucaPortalWeb.Data.Entities.Gene.PqrsTraceability>

@{
    ViewData["Title"] = "Index";
}

<div class="row" style="width:100%;">
    <di class="col-md-6">
        <h1>Trasabilidades</h1>
    </di>
    <di class="col-md-4 text-right">
        <a asp-action="Create" class="btn btn-sm btn-primary"><i class="bi bi-file-earmark-fill"></i> Nuevo</a>
    </di>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PqrsTraceabilityDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PqrsUserStrategicLine.PqrsStrategicLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pqrs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PqrsUserStrategicLine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PqrsTraceabilityDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Answer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PqrsUserStrategicLine.PqrsStrategicLine.PqrsStrategicLineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pqrs.PqrsMessage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PqrsUserStrategicLine.UserId)
                </td>
                <td align="center">
                    <a asp-action="Edit" asp-route-id="@item.PqrsTraceabilityId" class="btn btn-sm btn-warning"><i class="bi bi-pencil-fill"></i>Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.PqrsTraceabilityId" class="btn btn-sm btn-info"><i class="bi bi-eye-fill"></i> Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.PqrsTraceabilityId" class="btn btn-sm btn-danger"><i class="bi bi-trash2-fill"></i> Elimnar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
