@model List<AlcaldiaAraucaPortalWeb.Models.ContentModelView>;


@{
    ViewData["Title"] = "Index";
}

<h1>@ViewBag.TituloHead</h1>
<p>@ViewBag.SubTituloHead</p>
<hr />
<div class="row d-flex justify-content-center text-center g-0">
    @foreach (var item in Model)
    {
        <div class="card" style="width:20em;margin:10px;">
            <img src="@item.img" class="card-img-top" />
            <div class="card-body">
                <div class="card-title">
                    <h2>@item.title</h2>
                </div>
                <div class="card-text">
                    <p>@item.text</p>
                </div>
                <a href="#" class="btn btn-primary">read More...</a>
            </div>
        </div>
    }
</div>
