@model IEnumerable<AlcaldiaAraucaPortalWeb.Data.Entities.Gene.Pqrs>

@{
    ViewData["Title"] = "Index";
}

<div class="row" style="width:100%;">
    <di class="col-md-8">
        <h2>Peticiones, Quejas Reclamos Sugerencias</h2>
    </di>
    <di class="col-md-4 text-right">
        <a asp-action="Create" class="btn btn-sm btn-primary"><i class="bi bi-file-earmark-fill"></i> Nuevo</a>
    </di>
</div>

<table class="table table-striped" style="width:100%" id="MyTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PqrsDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PqrsSubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PqrsMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PqrsCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PqrsDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqrsSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqrsMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqrsCategory.PqrsCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State.StateName)
            </td>
            @if (item.StateId == 5)
            {
        <td align="center">
            <a asp-action="Edit" asp-route-id="@item.PqrsId" class="btn btn-sm btn-warning"><i class="bi bi-pencil-fill"></i>Editar</a> |
            <a asp-action="Details" asp-route-id="@item.PqrsId" class="btn btn-sm btn-info"><i class="bi bi-eye-fill"></i> Detalles</a> |
            <a asp-action="Delete" asp-route-id="@item.PqrsId" class="btn btn-sm btn-danger"><i class="bi bi-trash2-fill"></i> Elimnar</a>
            <a asp-action="ReportUser" asp-route-id="@item.PqrsId" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-pdf"></i> Pdf</a>
        </td>
            }
            else
            {
                <td align="center">
                    <a asp-action="Details" asp-route-id="@item.PqrsId" class="btn btn-sm btn-info"><i class="bi bi-eye-fill"></i> Detalles</a> |
                    <a asp-action="ReportUser" asp-route-id="@item.PqrsId" class="btn btn-sm btn-info"><i class="bi bi-file-earmark-pdf-fill"></i> Pdf</a>
                </td>

            }
        </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#MyTable').DataTable({
                language: {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });
        });
    </script>
}